@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: hsl(226, 43%, 10%);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
}

.work {
  background-color: hsl(15, 100%, 70%);
  background-image: url("./images/icon-work.svg");
  grid-area: "card1";
  width: 200px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 0;
  background-size: 50px;
  border-radius: 15px;
}
.work .inner-box {
  height: 100%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.work .inner-box:hover {
  background-color: hsl(235, 45%, 61%);
}
.work .inner-box .box__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.work .inner-box .box__top .box__title {
  font-size: 0.9rem;
  font-weight: 500;
}
.work .inner-box .box__top img {
  width: 15px;
  cursor: pointer;
}
.work .inner-box .box__hours {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 8px;
}
.work .inner-box .last__hours {
  font-size: 0.75rem;
  color: hsl(236, 100%, 87%);
}

.play {
  background-color: hsl(195, 74%, 62%);
  background-image: url("./images/icon-play.svg");
  grid-area: "card2";
  width: 200px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 0;
  background-size: 50px;
  border-radius: 15px;
}
.play .inner-box {
  height: 100%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.play .inner-box:hover {
  background-color: hsl(235, 45%, 61%);
}
.play .inner-box .box__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.play .inner-box .box__top .box__title {
  font-size: 0.9rem;
  font-weight: 500;
}
.play .inner-box .box__top img {
  width: 15px;
  cursor: pointer;
}
.play .inner-box .box__hours {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 8px;
}
.play .inner-box .last__hours {
  font-size: 0.75rem;
  color: hsl(236, 100%, 87%);
}

.study {
  background-color: hsl(348, 100%, 68%);
  background-image: url("./images/icon-study.svg");
  grid-area: "card3";
  width: 200px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 0;
  background-size: 50px;
  border-radius: 15px;
}
.study .inner-box {
  height: 100%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.study .inner-box:hover {
  background-color: hsl(235, 45%, 61%);
}
.study .inner-box .box__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.study .inner-box .box__top .box__title {
  font-size: 0.9rem;
  font-weight: 500;
}
.study .inner-box .box__top img {
  width: 15px;
  cursor: pointer;
}
.study .inner-box .box__hours {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 8px;
}
.study .inner-box .last__hours {
  font-size: 0.75rem;
  color: hsl(236, 100%, 87%);
}

.exercise {
  background-color: hsl(145, 58%, 55%);
  background-image: url("./images/icon-exercise.svg");
  grid-area: "card4";
  width: 200px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 0;
  background-size: 50px;
  border-radius: 15px;
}
.exercise .inner-box {
  height: 100%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.exercise .inner-box:hover {
  background-color: hsl(235, 45%, 61%);
}
.exercise .inner-box .box__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.exercise .inner-box .box__top .box__title {
  font-size: 0.9rem;
  font-weight: 500;
}
.exercise .inner-box .box__top img {
  width: 15px;
  cursor: pointer;
}
.exercise .inner-box .box__hours {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 8px;
}
.exercise .inner-box .last__hours {
  font-size: 0.75rem;
  color: hsl(236, 100%, 87%);
}

.social {
  background-color: hsl(264, 64%, 52%);
  background-image: url("./images/icon-social.svg");
  grid-area: "card5";
  width: 200px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 0;
  background-size: 50px;
  border-radius: 15px;
}
.social .inner-box {
  height: 100%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.social .inner-box:hover {
  background-color: hsl(235, 45%, 61%);
}
.social .inner-box .box__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.social .inner-box .box__top .box__title {
  font-size: 0.9rem;
  font-weight: 500;
}
.social .inner-box .box__top img {
  width: 15px;
  cursor: pointer;
}
.social .inner-box .box__hours {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 8px;
}
.social .inner-box .last__hours {
  font-size: 0.75rem;
  color: hsl(236, 100%, 87%);
}

.self-care {
  background-color: hsl(43, 84%, 65%);
  background-image: url("./images/icon-self-care.svg");
  grid-area: "card6";
  width: 200px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 0;
  background-size: 50px;
  border-radius: 15px;
}
.self-care .inner-box {
  height: 100%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.self-care .inner-box:hover {
  background-color: hsl(235, 45%, 61%);
}
.self-care .inner-box .box__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.self-care .inner-box .box__top .box__title {
  font-size: 0.9rem;
  font-weight: 500;
}
.self-care .inner-box .box__top img {
  width: 15px;
  cursor: pointer;
}
.self-care .inner-box .box__hours {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 8px;
}
.self-care .inner-box .last__hours {
  font-size: 0.75rem;
  color: hsl(236, 100%, 87%);
}

.container {
  display: grid;
  gap: 20px;
  grid-template-areas: "user card1 card2 card3" "user card4 card5 card6";
}
.container .user {
  width: 200px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  grid-area: user;
}
.container .user .user__top {
  background-color: hsl(246, 80%, 60%);
  padding: 25px;
  border-radius: 15px;
}
.container .user .user__top img {
  width: 60px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 25px;
}
.container .user .user__top .user__subtitle {
  font-size: 0.75rem;
  color: hsl(236, 100%, 87%);
  margin-bottom: 5px;
}
.container .user .user__top .user__title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 25px;
}
.container .user .user__bottom {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .user .user__bottom .user__time {
  font-size: 0.9rem;
  color: hsl(236, 100%, 87%);
  transition: 0.3s ease;
  cursor: pointer;
}
.container .user .user__bottom .user__time:hover {
  color: white;
}
.container .user .user__bottom .user__time.active {
  color: white;
}

@media screen and (max-width: 1024px) {
  body {
    height: auto;
    display: block;
    padding: 100px 30px;
  }
  .container {
    place-items: center;
    grid-template-areas: "user" "card1" "card2" "card3" "card4" "card5" "card6";
  }
  .container .user {
    width: 400px;
  }
  .container .user .user__top {
    padding: 25px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .container .user .user__top img {
    margin-bottom: 0px;
  }
  .container .user .user__top .user__title {
    margin-bottom: 0px;
  }
  .container .user .user__bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0;
  }
  .work {
    background-color: hsl(15, 100%, 70%);
    background-image: url("./images/icon-work.svg");
    grid-area: "card1";
    width: 400px;
  }
  .work .card__hours {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .work .card__hours .box__hours {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .play {
    background-color: hsl(195, 74%, 62%);
    background-image: url("./images/icon-play.svg");
    grid-area: "card2";
    width: 400px;
  }
  .play .card__hours {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .play .card__hours .box__hours {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .study {
    background-color: hsl(348, 100%, 68%);
    background-image: url("./images/icon-study.svg");
    grid-area: "card3";
    width: 400px;
  }
  .study .card__hours {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .study .card__hours .box__hours {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .exercise {
    background-color: hsl(145, 58%, 55%);
    background-image: url("./images/icon-exercise.svg");
    grid-area: "card4";
    width: 400px;
  }
  .exercise .card__hours {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .exercise .card__hours .box__hours {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .social {
    background-color: hsl(264, 64%, 52%);
    background-image: url("./images/icon-social.svg");
    grid-area: "card5";
    width: 400px;
  }
  .social .card__hours {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social .card__hours .box__hours {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .self-care {
    background-color: hsl(43, 84%, 65%);
    background-image: url("./images/icon-self-care.svg");
    grid-area: "card6";
    width: 400px;
  }
  .self-care .card__hours {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .self-care .card__hours .box__hours {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .container .user {
    width: 100%;
  }
  .work {
    width: 100%;
  }
  .play {
    width: 100%;
  }
  .study {
    width: 100%;
  }
  .exercise {
    width: 100%;
  }
  .social {
    width: 100%;
  }
  .self-care {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */