@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
//300, 400, 500

// Primary Colors
$blue: hsl(246, 80%, 60%);
$light-red-work: hsl(15, 100%, 70%);
$soft-blue-play: hsl(195, 74%, 62%);
$light-red-study: hsl(348, 100%, 68%);
$lime-green-exercise: hsl(145, 58%, 55%);
$violet-social: hsl(264, 64%, 52%);
$soft-orange-self-care: hsl(43, 84%, 65%);

// Neutral Colors
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

*{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}


body{
    font-size: 18px;
    background-color: $very-dark-blue;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}

$cards: (
  card1: (color: $light-red-work, image: url('./images/icon-work.svg'), area: 'card1'),
  card2: (color: $soft-blue-play, image: url('./images/icon-play.svg'), area: 'card2'),
  card3: (color: $light-red-study, image: url('./images/icon-study.svg'), area: 'card3'),
  card4: (color: $lime-green-exercise, image: url('./images/icon-exercise.svg'), area: 'card4'),
  card5: (color: $violet-social, image: url('./images/icon-social.svg'), area: 'card5'),
  card6: (color: $soft-orange-self-care, image: url('./images/icon-self-care.svg'), area: 'card6')
);

@mixin card-styles($bg-color, $bg-image, $grid-area) {
    background-color: $bg-color;
    background-image: $bg-image;
    grid-area: $grid-area;
}

@each $name, $properties in $cards {
    .#{$name} {
      @include card-styles(
        map-get($properties, color),
        map-get($properties, image),
        map-get($properties, area)
      );
      width: 200px;
      padding-top: 40px;
      background-repeat: no-repeat;
      background-position: calc(100% - 15px) 0;
      background-size: 50px;
      border-radius: 15px;
  
      .inner-box {
        height: 100%;
        background-color: $dark-blue;
        border-radius: 15px;
        padding: 20px;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover{
            background-color: $desaturated-blue;
        }
  
        .box__top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
  
          .box__title {
            font-size: 0.9rem;
            font-weight: 500;
          }
  
          img {
            width: 15px;
            cursor: pointer;
          }
        }
  
        .box__hours {
          font-weight: 300;
          font-size: 2.5rem;
          margin-bottom: 8px;
        }
  
        .last__hours {
          font-size: 0.75rem;
          color: $pale-blue;
        }
      }
    }
  }

.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'user card1 card2 card3'
    'user card4 card5 card6';

    .user{
        width: 200px;
        background-color: $dark-blue;
        border-radius: 15px;
        grid-area: user;
        .user__top{
            background-color: $blue;
            padding: 25px;
            border-radius: 15px;
            img{
                width: 60px;
                border-radius: 50%;
                border: 2px solid white;
                margin-bottom: 25px;
            }
            .user__subtitle{
                font-size: 0.75rem;
                color: $pale-blue;
                margin-bottom: 5px;
            }
            .user__title{
                font-weight: 300;
                font-size: 2rem;
                margin-bottom: 25px;
            }
        }
        .user__bottom{
            padding: 25px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .user__time{
                font-size: 0.9rem;
                color: $pale-blue;
                transition: 0.3s ease;
                cursor: pointer;
                &:hover,
                &:active{
                    color: white;
                }
            }
        }
    }
}


@media screen and (max-width: 1024px){
    body{
        height: auto;
        display: block;
        padding: 100px 30px;
    }
    .container{
        grid-template-areas: 
        'user'
        'card1'
        'card2'
        'card3'
        'card4'
        'card5'
        'card6';

        .user{
            width: 100%;
            .user__top{
                padding: 25px;
                border-radius: 15px;
                display: flex;
                gap: 15px;
                align-items: center;
                justify-content: center;
                img{
                    margin-bottom: 0px;
                }
                .user__title{
                    margin-bottom: 0px;
                }
            }
            .user__bottom{
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                gap: 0;
            }
        }
    }

    @each $name, $properties in $cards {
        .#{$name} {
          @include card-styles(
            map-get($properties, color),
            map-get($properties, image),
            map-get($properties, area)
          );
          width: 100%;
      
      
            .card__hours{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .box__hours {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                  }
            }
        }
    }
}